# Git
.git
.gitignore
.gitattributes

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache/
.pytest_cache/
.mypy_cache/
.hypothesis/

# Environment
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Tests (не нужны в production-образе)
tests/

# Documentation
README.md

# Logs
*.log
logs/
AGENTS.md